/********************
 * 01.reset
 ********************/

body, article, section, form, h1, h2, h3, h4, h5, h6, h7, p, ul, li, pre, code, table, th, td, div, a, em, strong {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: inherit;
  font-size: inherit;
  font-family: inherit;
  text-decoration: inherit;
  font-style: inherit;
  font-weight: inherit;
  border-collapse: collapse;
  line-height: inherit;
  list-style-type: none;
}

body {
  font-size: 13px;
  padding: 10px;
  line-height: 1;
  color: #444;
}


/********************
 * 02. common
 ********************/

.article__heading {
  margin-bottom: 20px;
}

.article__heading__title {
  font-size: 25px;
  font-weight: bold;
  margin-bottom: 10px;
  background-color: #444;
  color: white;
  padding: 5px;
}

.article__heading__lastupdate {
    font-weight: normal;
    margin-left: 10px;
    font-size: 10px;
}

.article__heading__lead {
  font-size: 11px;
  line-height: 1.5;
  padding: 2px 0;
  padding-left: 5px;
  border-left: solid 1px #444;
}

.article__heading__lead em {
  font-weight: bold;
}

.section {
  margin-bottom: 30px;
}

.section__heading {
  margin-bottom: 10px;
}

.section__heading__title {
  font-size: 20px;
  font-weight: bold;
  padding-bottom: 2px;
  border-bottom: solid 2px #444;
  line-height: 1.4;
}

.section__content {
  overflow-x: scroll;
}

.section__content > p {
  line-height: 1.4;
  margin-bottom: 10px;
}

.code {
  margin-bottom: 10px;
}

.code__title {
  font-weight: bold;
  padding: 3px 6px;
  border-left: solid 4px #aaa;
  margin-bottom: 2px;
}

.code__content {
  background-color: #eee;
  padding: 7px 10px;
  border-radius: 2px;
  font-family: Osaka-Mono, monospace;
  line-height: 1.4;
  overflow-x: scroll;
}

table {
  width: 100%;
}

td, th {
  padding: 5px;
  border: solid 1px #444;
  line-height: 1.4;
}

th {
  background-color: #eee;
  font-weight: bold;
}

.linklist__item {
  margin-bottom: 5px;
  position: relative;
  padding-left: 15px;
}

.linklist__item::before {
  content: "・";
  position: absolute;
  left: 0;
}

.linklist__item a {
  border-bottom: dashed 1px #aaa;
}

/********************
 * 03. util
 ********************/
.w200 {
    max-width: 200px;
}
